@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
  font-family: 'Luckiest Guy', cursive;
  font-size: auto;
}

:root {
  --borderColor: rgba(105, 29, 39);
  --YuakonColor: rgba(255, 179, 195);
}

/* In-game UIs {{{ */

#killCard {
  background-image:
    url(../img/yuakon_bottomRight.png)
    , linear-gradient(var(--borderColor) 0%, var(--borderColor) 5%
                     , var(--YuakonColor) 5%, var(--YuakonColor) 90%
                     , var(--borderColor) 90%, var(--borderColor) 95%
                     , transparent 95%, transparent 100%)
     ;
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 30px;
}

#kCInfoS {
  bottom: 100px;
}

/* }}} */
/* Menu UIs */

.headerBarLeft {
  background: url("../img/headerBarLeft.png");
  border-radius: 0;
  padding-right: 13px;
}

.headerBarRight {
  background: url("../img/headerBarRight.png");
  border-radius: 0;
}

.iconProfile {
  background-image: url("../img/yuakon_general.png");
}

.menuItem:hover .iconProfile {
  background-image: url("../img/yuakon_general_hover.png");
}

.iconSocial {
  background-image: url("../img/iconSocial.png");
}

.menuItem:hover .iconSocial {
  background-image: url("../img/iconSocial_hover.png");
}

.menuItem {
  /* background: url(); */
}
