.headerBarLeft {
  background: url("../img/headerBarLeft.png");
  border-radius: 0;
  padding-right: 13px;
}

.headerBarRight {
  background: url("../img/headerBarRight.png");
  border-radius: 0;
}

.iconProfile {
  background-image: url("../img/yuakon_general.png");
}

.menuItem:hover .iconProfile {
  background-image: url("../img/yuakon_general_hover.png");
}

.iconSocial {
  background-image: url("../img/iconSocial.png");
}

.menuItem:hover .iconSocial {
  background-image: url("../img/iconSocial_hover.png");
}

.menuItem {
  /* background: url(); */
}
